html,
body {
    margin: 0;
    padding: 0;
}
a:link,
a:visited {
    text-decoration: none;

    cursor: pointer;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", "sans-serif";
}
:root {
    --font-sans: "DM Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --size-300: 300;
    --size-400: 400;
    --size-500: 500;
    --size-700: 700;
    --background: #e5e5e5;
    --linear-gradient: 207.8deg, #201e1c 16.69%, #f7931a 100%;
    --bitcoin-orage: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #ffe9d5;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --warm-blackplus1: #282623;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;
}

/*
- 1 Posicionamiento
- 2 Modelo de caja
- 3 Tipografia
- 4 visuales
- 5 otros
*/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.9deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 58px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    top: 270px;
    left: calc(50% - 118px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-tables-container {
    position: relative;
}
.main-tables-container--grid {
    width: 202px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
    grid-gap: 1px;
}
.main-tables-container--coin {
    padding: 1.6rem;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19.36px;
    color: #b5b0ac;

    text-align: left;
    background-color: var(--just-white);
}
.main-tables-container--data {
    padding: 1.6rem 0;
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16.94px;
    color: #757575;
    background-color: var(--just-white);
}
.main-tables-container--grid div:nth-child(1) {
    border-top-left-radius: 4px;
}

.main-tables-container--grid div:nth-child(2) {
    border-top-right-radius: 4px;
}

.main-tables-container--grid div:nth-child(7) {
    border-bottom-left-radius: 4px;
}

.main-tables-container--grid div:nth-child(8) {
    border-bottom-right-radius: 4px;
}

.data--down-price {
    display: inline-block;
    width: 11px;
    height: 6px;
    align-self: center;
    background-image: url("../assets/icons/trending-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.data--up-price {
    display: inline-block;
    width: 11px;
    height: 6px;
    align-self: center;

    background-image: url("../assets/icons/trending-up.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-tables-container div .main-tables--title {
    max-width: 202px;
    margin: 12px auto;
    padding-left: 12px;
    text-align: left;
    font-family: var(--font-sans);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--bitcoin-orage);
}
.main-tables--rigth-arrow {
    display: inline-block;
    position: absolute;

    right: 20px;
    top: 50%;
    width: 8px;
    height: 13px;
    margin-left: 10px;
    background-image: url("../assets/icons/right-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-tables--date__container {
    margin-top: 20px;
    display: inline-block;
}
.main-tables--date {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    padding: 8px;
    border-radius: 8px;
    font-family: var(--font-inter);
    font-size: 1.2rem;
    color: var(--warm-black);
    font-weight: 300;
    background-color: var(--soft-orange);
}

/*Seccion de beneficios, la de color negro y la imagen naranja anja*/

.main-benefits-container {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--warm-black);
    color: var(--just-white);
    font-family: var(--font-sans);
}
.main-benefits-margin {
    padding: 6.4rem 1.6rem 0px 1.6rem;
}

.main-benefits-container h2 {
    text-align: center;
    font-size: 2.4rem;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 2.4rem;
}
.main-benefits-container p {
    text-align: center;
    font-size: 1.4rem;
    color: #808080;
    margin: 0;
}
.main-benefits-grid .main-benefits-grid--card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 400px;
    border-radius: 4px;
    padding: 1.6rem;
    background-color: var(--warm-blackplus1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.main-benefits-grid .main-benefits-grid--card h3 {
    font-size: 1.8rem;
    margin: 12px 0px 10px;
}
.main-benefits-grid .main-benefits-grid--card p {
    text-align: left;
}
.main-benefits-grid {
    justify-content: initial;
    margin-top: 3.2rem;
    margin-bottom: 6.4rem;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(1, autofill);
    grid-template-rows: repeat(4, 158px);
}

.main-benefits-grid--clock-icon {
    justify-self: flex-start;
    height: 24px;
    width: 24px;
    background-image: url("../assets/icons/clock.svg");
    background-position: center;
    background-size: cover;
}

.main-benefits-grid--dolar-icon {
    justify-self: flex-start;
    height: 24px;
    width: 24px;
    background-image: url("../assets/icons/dollar-sign.svg");
    background-position: center;
    background-size: cover;
}

.main-benefits-grid--eye-icon {
    justify-self: flex-start;
    height: 24px;
    width: 24px;
    background-image: url("../assets/icons/eye.svg");
    background-position: center;
    background-size: cover;
}

.main-benefits-grid--check-icon {
    justify-self: flex-start;
    height: 24px;
    width: 24px;
    background-image: url("../assets/icons/check-circle.svg");
    background-position: center;
    background-size: cover;
}
.main-benefits--imageorange h2 {
    color: var(--just-white);
    text-align: center;
    font-size: 2.4rem;
    line-height: 24px;
    padding-top: 6.4rem;
    margin: 0;
}
.main-benefits--imageorange {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("../assets/img/bitcoinbaby2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.main--prices {
    height: auto;
    padding: 64px 0;
    background-color: #e5e5e5;
}
.main--prices h2 {
    margin: 0;
    margin-bottom: 24px;
    text-align: center;

    font-size: 2.4rem;
    font-family: var(--font-sans);
    color: var(--warm-black);
}
.main--prices p {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.4rem;
    color: #757575;
}
.main--prices-card-scroller-container{
    overflow: overlay;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.main--prices-card-scroller {
    padding: 20px 0;
    width: 900px;
    height: 316px;
    position: relative;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scroll-snap-stop: always;
    justify-content: space-between;
}
.main--prices-card p {
    text-align: center;
    color: #757575;
    font-size: 1.2rem;
    font-family: var(--font-inter);
}
.main--prices-card .prices-card--price span {
    font-family: var(--font-inter);
    font-size: 5.2rem;
    font-weight: 700;
}
.main--prices-card {
    position: relative;
    height: 247px;
    padding: 20px 45px;
    border-radius: 8px;
    font-size: 1.4rem;
    margin: 0 20px;
    background-color: var(--just-white);
    text-align: center;
    scroll-snap-align: center;
}
.main--prices-card .main--prices-card_especial{
    position: absolute;
    padding: 8px;
    border-radius: 8px;
    top: -10px;
   
left: calc(50% - 112px/2);
    background-color: var(--bitcoin-orage);
    font-size: 1.4rem;
    font-family: var(--font-inter);
    color: var(--just-white);
}
.main--prices-card .prices-card--button {
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    height: 48px;
    width: 151px;
    border: 2px solid var(--bitcoin-orage);
    border-radius: 4px;
    font-weight: var(--size-700);
    font-family: var(--font-sans);
    text-decoration: none;
    background-color: var(--off-white);
}
.main--prices-card .prices-card--button div {
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url("../assets/icons/orange-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}

/*
- 1 Posicionamiento
- 2 Modelo de caja
- 3 Tipografia
- 4 visuales
- 5 otros
*/
