@media screen and (min-width: 1023px) {
    .main-benefits-grid {
        justify-content: center;
        margin-top: 3.2rem;
        margin-bottom: 6.4rem;
        display: grid;
        align-self: center;
        grid-gap: 16px;
        grid-template-columns: repeat(2, minmax(158px, 420px));
        grid-template-rows: repeat(2, 158px);
    }

    .main--prices-card-scroller-container {
        overflow: hidden;
    }
    .main--prices-card-scroller {
    
        overflow-x: hidden;
    }
}
